body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 980px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
#absolute-wrapper .big-line {
   border-bottom: 3px solid #333333;
   height: 30px;
   top: 2px;
   left: 9px;
   width: 950px;
 }
#absolute-wrapper .bordered {
   border-top: 2px solid #808080;
   border-right: 2px solid #808080;
   border-bottom: 2px solid #808080;
   border-left: 2px solid #808080;
 }
#absolute-wrapper .text-bold {
   font-weight: bold;
 }
#absolute-wrapper .text-red {
   color: #f30d1e;
 }
#absolute-wrapper .span-column {
   width: 475px;
   float: left;
 }

